<h1>Editing artwork</h1>

<%= render 'form' %>
<%# form_for(@artwork) do |j| %>
    <%# j.collection_select(:collection_id, @collections, :id, :collection_title, {:include_blank =>true}) -%>
    <%# end %>
<%= link_to 'Show', @artwork %> |
<%= link_to 'Back', artworks_path %>
